html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    color: #454444;
}

.content-wrap {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    transition: all .3s;
}

h2 {
    font-size: 28px;
    color: #454444;
    margin-top:0;
    margin-bottom: 5px;
    text-align: center;
}
.h2 {
    font-weight: bold;
    margin-top:0;
}

.price {
    position: relative;
    
    &:after {
        position: absolute;
        content: url(../images/ruble-currency-sign.png);
        width: 19px;
        height: 21px;
        right: -25px;
    }
}

.block-desc {
    text-align: center;
    letter-spacing: 1.2px;
}

select.form-control {
    width: 215px;
    height: 40px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 13px;
}

@media all and (max-width: 450px) {
    .h2, h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }
}


.select {
    display:inline-block;
    position:relative;
    margin-right: 15px;
    
    &:after {
        content:"";
        position:absolute;
        right:15px;
        top:15px;
        width:5px;
        height:5px;
        border-right:1px solid #000;
        border-bottom:1px solid #000;
        transform:rotate(45deg);
        transition:transform .3s ease;
    }

    &__placeholder {
        position:relative;
        display:block;
        margin-bottom:20px!important;
        border:1px solid #e6e6e6;
        border-radius:41px;
        padding:10px 30px 10px 10px;
        font-size: 13px;
        text-align:left;
        color:#000;
        cursor:pointer;
        white-space: nowrap;
    }
    &__inner {
        display:none;
        position:absolute;
        width: 90%; 
        top:32px;
        left:0;
        right:0;
        margin:auto;
        max-width:220px;
        background:#fff;
        border:1px solid #e6e6e6;
    }
    &__item {
        cursor:pointer;
        padding:5px 10px;
        color:#000;
        &:hover {
            background-color:#2c2e32;
            color:#fff;
        }
    }
    &--opened &__inner { 
        display: block;
    }
    &--opened:after {
        top:17px; 
        transform:rotate(-135deg);
    }

    &--goods {
        .select__placeholder {
            font-size: 13px;
            border: 2px solid #959595;
            border-radius: 20px;
            color: #959595;
        }
    }
}