.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 55px;
    

    &__left, &__right, &__city, &__phone {
        display: flex;
        flex-direction: row; 
        align-items: center;
    }
    &__left {
        justify-content: space-between;
        width: 60%;
    }
    &__right {
        justify-content: flex-end;
        width: 40%;
    }
    
    &__city, &__phone {
        position: relative;
        margin-left: 18px;
        span {
            margin-right: 6px;
        }
        
    }
    &__city {
        &:before {
            position: absolute;
            content: url(../images/geo.png);
            width: 14px;
            height: 20px;
            left: -18px;
            top: -3px;
        }
    }

    &__city--green {
        &:before {
            content: url(../images/geo-green.png);
        }
    }
    &__phone {
        margin-left: -60px;
        &:before {
            position: absolute;
            content: url(../images/phone-receiver.png);
            width: 16px;
            height: 16px;
            left: -25px;
            top: -1px;
        }
    }
    &__phone--green {
        &:before {
            content: url(../images/phone-green.png);
        }
    }
    &__social {
        display: flex;
        width: 125px;
        justify-content: space-between;
    }
    
    &__search {
        display: flex;
        align-items: center;
        position: relative;
        
        
        
        .search-input {
            position: absolute;
            left: 30px;
            width: 0px;
            opacity: 0;
            z-index: -1;
            transition: all .3s;
            
            .search-close {
                position: absolute;
                cursor: pointer;
                right: 5px;
                top: 10px;
            }
        }
    }
    
    &__login {
        margin-left: 16px;
    }
    
    &__cart {
        position: relative;
        background: url(../images/basket1.png) center no-repeat;
        width: 30px;
        height: 30px;
        margin-left: 38px;
        margin-right: 10px;
        
        &--green {
            background: url(../images/basket-green.png) center no-repeat;
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            background: #98cb13;
            color: #fff;
            font-weight: 600;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            right: -10px;
            top: -4px;
        }
    }
    
    .dropdown-menu {
        border: none;
        box-shadow: none;
    }

    a {
        font-weight: bold;
        color:#454444;
    }

    &--big {
        background-color: rgba(0,0,0,.3);
        a,span {
            color:#ffffff;
        }

        .dropdown-menu a {
            color:#454444;       
        }
    }
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-line {
    width: 100%;
    height: 1px;

    background-image: linear-gradient(to right, #f2eae2, #d7d7d7);
}

@media all and (max-width: 1024px) {
    .header__phone {
        margin-left: 0;
    }
}


@media all and (max-width: 991px) {
    .header {
        height: 100px;
        align-items: flex-start;
        padding-top: 15px;
    }
    
    .header__city {
        position: absolute;
        top: 67px;
    }
    
    .header__search {
        display: none;
    }
    
    .header__login {
        span {
            display: none;
        }
    }
    
    .header__phone {
        span {
            display: none;
        }
    }
    
    .header__left {
        margin-left: 90px;
    }
}

@media all and (max-width: 767px) {
    .header__social {
        position: absolute;
        top: 115px;
    }
}