.page-info {
  padding: 20px 0;
}

.page-title {
  color: #fff;
  font-size: 60px;
  text-shadow: 1px 1px 10px #000;
  text-align: center;
  font-weight: bold;
  padding: 15px 0;
  margin: 35px 0;
  background: url(images/bg-logo.png);
  background-size: cover;
}

.page-text {
  margin-bottom: 30px;
  &__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px; 
  }
  &__text {
    font-size: 14px;
    margin-bottom: 30px;  
  }
}


.cart {
  margin-bottom: 60px;

  &__title {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  &__table {

  }

  &__totals, &__actions {
    text-align: right;
  }

  &__totals {
    .total {
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: bold;
    }
  }

  &-product {
    display: block;
    font-weight: bold;
    color:#bada00;
    margin-bottom: 15px;

    &__price {
      font-size: 16px;
    }

    &__total {
      font-weight: bold;
      font-size: 16px;
    }
  }
  
  &__button {
    padding: 10px 45px;
    font-size: 14px;
  }

  &__remove {
    display: inline-block;
    width: 40px;
    height: 30px;

    background-color: #f6f6f6;
    border-radius: 15px;
    
    line-height: 30px;
    color: #bbda03;
    cursor: pointer;
    font-weight: 700;
  }
}

.cart-adds {
  width: 220px;
  position: absolute;
  right: 0;
  top:45px;
  
  padding: 10px 30px;
  background-color: #A1BC10;

  color:#ffffff;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  
  z-index: 2;
  &:after {
    content: "";
    position: absolute;
    right: 12px;
    top: -10px;
    
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #A1BC10;
  }
}

.table {
  display: table;
  width: 100%;
  &__head {
    border-radius: 15px;
    
    .table__cell {
      white-space: nowrap;
    }
  }
  
  &__row {
    display: table-row;
    

    &--block {
      display: block;
      border: 1px solid #dbdbdb;
      border-radius: 5px;  
      margin-bottom: 15px;  
    }
  }

  &__cell {
    padding: 10px 20px;
    display: table-cell;
    
    vertical-align: middle !important;
    
    &--center {
      text-align: center;
    }
    
    &--inline {
      display: inline-block;
    }

    &--5 {
      width: 5%;
      padding-left: 0;
      padding-right: 0;
    }

    &--10 {
      width: 10%;
    }

    &--15 {
      width: 15%;
    }

    &--20 {
      width: 20%;
    }

    &--25 {
      width: 25%;
    }

    &--30 {
      width: 30%;
    }
  }

  &__text {
    font-size: 14px;
    text-align: left;
    &--bold {
      font-weight: bold;
    }
  }

  &__picture {
    width: 100%;
  }
}

@media all and (max-width: 450px) { 
   .table {
      display: block;
      

      &__row {
        display: block;
      }
      
      &__head {
        display: none;
      }

      &__cell {
        display: block;
        width: 100%;
        text-align: center;
      }
      &__text {
        text-align: center;
      }
  }
}

/* <----Spinner section---- */
.spinner {
  display:block; 
  position:relative; 
  overflow:hidden;
  text-align: center;
  width: 150px;
  
  
  &-input {
    width:60px; 
    border:none; 
    padding:0 5px; 
    height:30px; 
    line-height:30px; 
    border: 1px solid #d8d8d8;
    

    border-radius: 15px;
    font-size: 1em;
    text-align: center;
  }

  &-button {
    position:absolute; 
    width: 40px;
    background-color:#f6f6f6;
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
    color:#bbda03;
    cursor:pointer;
    font-weight: bold;
  }

  &-button:hover {
    color:#ffffff;
    background-color:#bada00;
  }
  
  &-up {
    right:0;
  }
  
  &-down{
    left:0;
  }
}


@media all and (max-width: 450px) {  
  .spinner {
    width: auto;
    margin: 0 35px;
  }
}


.icon {
  display: inline-block;
  cursor: pointer;

  &--search {
    background: url(../images/search.png) center no-repeat;
    width: 20px;
    height: 20px;
  }
  &--search-green {
    background: url(../images/search-green.png) center no-repeat;
    width: 20px;
    height: 20px; 
  }
  
}

.col-4 {
  flex: 0 0  33.333333%;
  max-width: 33.333333%;
}

.col-8 {
  flex: 0 0   66.666667%;
  max-width: 66.666667%;
}

.input-group {
  display: flex;
  margin-bottom: 10px;

  &__label {
    margin: 0;
    padding: 0 15px;

    font-size: 14px;
    text-align: right;

    white-space: nowrap;
  }

  &__input {
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    padding: 5px 30px;
    font-size: 16px;
    transition: box-shadow .3s ease;

    &:focus {
      border: none;
    }
  }
    
  &__text {
    padding: 15px;
    border:1px solid #e6e6e6;

  }
  &__input, &__label {
      height: 40px;
      line-height: 38px;
      display: inline-block;
  }
}

.radioblock {
  display: inline-block;
  vertical-align: middle;
  &__input {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    margin:0;
  }

  &__text {
    display: inline-block;
    line-height: 40px;
    width: auto;
    white-space: nowrap;
    margin-left: 5px;
    vertical-align: middle;
    
  }
  
}


.step {
  
  &__title {
    position: relative;
    
    margin-left: 60px;
    margin-bottom: 15px;

    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
  
    &:before {
      position: absolute;
      left: -50px;

      width: 36px;
      height: 36px;

      border-radius: 118px;
      background-color: #bada00;

      text-align: center;
      color:#ffffff;
    }

    &--first:before {
      content: "1";
    }
    &--second:before {
      content: "2";
    }
    &--third:before {
      content: "3";
    }
  }

  &__content {
    padding: 15px;
    margin-bottom:15px;
    &--grey {
      background-color: #fafafa;
    }
  }
  

  p {
    margin-bottom: 10px;
  }
  
}

@media all and (max-width: 450px) {  
  .cart {
    &__title {
      text-align: center;
    }
    &__totals .total {
      font-size: 14px;
    }
    &__actions {
      text-align: center;
    }
  }
  .step {
    position: relative;
    text-align: center;
    &__title {
      text-align: center;
      
      display: inline-block;
      
    }
  }
  
}

.payment {
  margin-bottom: 30px;
  &__method {
    display: inline-block;
    height: 40px;
    padding:0 30px;
    border-radius: 20px;
    
    font-size: 14px;
    
    cursor:pointer;
    
    &--active {
      border: 1px solid #d5d5d5;
    }
  }

  &__image {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height:23px;
    margin-left: 15px;
    img {
      width: 100%;
    }
  }

}

.order {
  &__totals {
    float:right;
    margin-bottom:30px;
  }
  &__button {
    margin-top: 15px;
    padding:10px 30px;
  }
  &__comment {
    float:left;
    margin-bottom:30px;
    min-width: 450px;
  }
}

.textarea {
  width: 100%;
}

@media all and (max-width: 450px) {
  .page-title {
    font-size: 30px;
  }  
  
  .payment {
    &__method {
      display: block;
      margin-bottom: 15px;
    }
  }

  .order {
    &__totals, &__comment {
      float: none;
      width: auto;
    }

    &__comment {
      min-width: auto;
    }
  }
}


.good {
  &__title {
    color:#bada00;
    font-weight: bold;
    font-size:18px;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-size:16px;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.75;
  }
  

  &__image {
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }

  &__reviews {
    margin-bottom: 30px;
  }
  
  &__price {
    margin-bottom: 15px;
    font-size:16px;
  }

}

.btn {
  &__cart {
    display: block;

    color:#bada00;
    border: 2px solid #bada00;
    width: 100%;

    background-color: #ffffff;
    margin-bottom: 15px;
    
    transition: box-shadow .3s ease;
    box-shadow: none;
    &:hover {
      color:#bada00;
      box-shadow: 0 6px 12px 0 rgba(51,51,51,.25)
    }
  }
}

.desc {
  margin-bottom: 30px;
  &__title {
    font-size: 21px;
    text-align: left;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.75;
  }
  &__attrs {
    margin-bottom: 15px;
  }

}

.attrs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  &__item {
    display: inline-block;
    span {
      font-weight: bold;
    }
  }
}


.review {
  border-bottom: 1px solid #e6e8eb;
  padding:15px 0;

  margin-bottom: 30px;
  
  &__title,&__date {
    margin-bottom: 15px;
    font-size:16px;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.75;
    text-align: justify;
  }

  
}

.infoblock {
  margin-top: 30px;
  margin-bottom: 30px;
  &__title {
    font-size: 21px;
    text-align: left;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}

.related {
  &__title {
    font-size: 21px;
    text-align: left;
    margin-bottom: 15px;
    text-transform: uppercase; 
  }
}

.no-border {
  border:none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}



.cook {
  font-size: 14px;
  height: 80px;
  padding-top: 50px;
  text-align: center;
}

.center {
  text-align: center;
}

@media all and (max-width: 450px) {
  .attrs {
    display: block;
    &__item {
      display: block;
      margin-bottom: 15px;
    }
  }
}




.shares {
  display: flex;
  flex-direction:row;
  padding-bottom: 60px;
  margin-bottom: 45px;
  border-bottom: 1px solid #e8e8e8;
  
  overflow: hidden;
  min-height: 300px;
  
  
  &__desc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  }

  &__title{
    font-size: 26px;
    margin-bottom: 15px;
  }
  
  &__text {
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__field {
    display: block;
    width: 100%;

    background-color: #e5e6ea;
    font-size: 16px;
    text-align: center;

    height: 60px;
    line-height: 60px;

    border:none;
    border-radius: 30px;
    
    margin-bottom: 15px;
    
    &--phone {
      padding: 0 30px;
      position: relative;
      
      &:before {
        content:"";
        width: 25px;
        height: 25px;

        background-color: red;

        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  &__btn {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0;
    border-radius: 30px;
    margin-bottom: 0;

  }

  &__image {

    img { 
      width: 100%;
      height: auto;
    }
  }

  

  &:nth-child(2n+1) {
    .shares__image {
      order: 2;
    }
  }

}

.clearfix {
  clear: both;
}



@media all and (max-width: 768px) {
  .shares {
    display: block;
    &__image {
      margin-bottom: 30px;
    }
  }
}



.formblock {
  margin-bottom: 30px;

  &__title {
    text-align: left;
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  &__content {
    background-color: #f6f6f6;
    padding: 30px;
  }
  
  &__subtitle {
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 30px;
  }

  &__btn {
    padding: 10px 30px;
  }

  &__label,&__input {
    display: block;
    width: 100%;
  }
  &__label {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  &__input {
    margin-bottom: 30px;
    font-size: 14px;
    border:1px solid #e6e6e6;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    border-radius: 20px
  }
}