.tea-tabs {
    //display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 80px;
    border-bottom: 1px solid #e6e8eb;
    
    h2 {
        span {
            color: #a1bc10;
        }
    }
    
    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 55px;
    }
}

.tab-item {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 15px;
    
    &__image {
        img {
            width: 85%;
        }
    }
    &__caption {
        display: table;
        position: relative;
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
        color: #454444;
        
        img {
            position: absolute;
            right: -80px;
            top: -20px;
        }
    }
    
    &__price {
        margin-top: 50px;
        font-size: 16px;
        color: #939393;
        
        span {
            font-size: 24px;
            font-weight: 600;
        }
    }
    
    &__desc {
        color: #454444;
        margin-top: 48px;
        margin-bottom: 50px;
        line-height: 36px;
        font-weight: 600;
    }
    
    .tea-point {
        right:15px; 
        position: absolute;
        color: #454444;
        
        span {
            font-weight: 800;
        }
        
        .tick {
            position: absolute;
            width: 18px;
            height: 18px;
            background: #ffca11;
            padding: 2px;
            border-radius: 50%;
            left: -30px;
        }
        .tick:before {
            position: absolute;
            content: '';
            width: 70px;
            height: 2px;
            background: #ffca11;
            top: 7px;
            left: -73px;
        }
        
        .tick:after {
            position: absolute;
            content: '';
            width: 26px;
            height: 26px;
            border-radius: 50%;
            border: 2px solid #ffca11;
            padding: 2px;
            top: -4px;
            left: -4px;  
        }
    }
    .tea-point1 {
        top: 10%;
        .tick:before {
            width: 100px;
            left: -103px;
        }
    }
    .tea-point2 {
        top: 30%;
    }
    .tea-point3 {
        top: 52%;
        .tick:before {
            width: 90px;
            left: -93px;
        }
    }
}

.tab-item.day {
    .tea-point {
        .tick {
            background: #a4c010;
        }
        .tick:before {
            background: #a4c010;
        }  
        .tick:after {
            border: 2px solid #a4c010; 
        }
    }
}

.tab-item.evening {
    .tea-point {
        .tick {
            background: #df5d24;
        }
        .tick:before {
            background: #df5d24;
        }  
        .tick:after {
            border: 2px solid #df5d24; 
        }
    }
}

.tab-item.night {
    .tea-point {
        .tick {
            background: #3b515f;
        }
        .tick:before {
            background: #3b515f;
        }  
        .tick:after {
            border: 2px solid #3b515f; 
        }
    }
}

.swiper-container {
    margin-left: -18px;
    margin-right: -18px;
}
.swiper-button-prev {
    background-image: url(../images/left.png);
}
.swiper-button-next {
    background-image: url(../images/right.png);
}
.swiper-button-next, .swiper-button-prev {
    width: 18px;
    height: 69px;
    background-size: 18px 69px;
}


@media all and (max-width: 450px) {
    .tea-tabs {
        padding-top:0;
        padding-bottom: 0;
        &__buttons {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
            margin-top:15px;
        }
    }
    .tea-point {
        display: none;
    }
    .btn-tab {
        flex: 1 0 45%;
        
        width: auto;
        max-width: 175px;
        margin:0 5px 10px 5px;
    }

    .tab-item {
        display: block;
        &__img, &__desc {
            text-align: center;
        }
        &__price, &__caption {
            left:0;
            right:0;
            margin:auto;

            text-align: center;
        }
        &__caption {
            margin-bottom: 5px;
            font-size: 24px;
            img {
                display: none;
            }
        }
        &__desc {
            margin-top:15px;
            line-height: 1.75;
            font-size: 14px;
            text-align: center;
        }
        img {
            width: 100%;
        }
    }
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}