.top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 720px;
    background: url(../images/top-bg.jpg) center no-repeat;
    background-size: cover; 
    
    padding-top: 55px;

    &__about {
        color: #fff;    
        text-align: center;
        margin-top: 85px;
        margin-bottom: 25px;
        h1 {
            font-size: 61px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        
        p {
            display: block;
            left: 0;
            right: 0;
            margin:auto;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            max-width: 780px; 
            line-height: 1.7;
            margin-bottom: 30px;
            text-shadow: 1px 1px 2px #000, 0 0 1em #000;
        }
    }
    
    &__advantages {
        margin-bottom: 10px;
        height: 120px;
        margin-top: auto;
        .container {
            display: flex;
            justify-content: space-around;
        }
    }
}

.advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    
    img {
        margin-bottom: 15px;
    }
    
    p {
        text-align: center;
        line-height: 1.5;
        font-size: 15px;
        margin-bottom: 10px;
        letter-spacing: 1px;
        
        strong {
            font-weight: 600;
        }
    }
}

@media all and (max-width: 1021px) {
    .advantages-item {
        width: 50%;
        display: block;
        text-align: center;
        img {
            height: 40px;
        }
        

        
        p {
            font-size: 12px;    
        }
        
    }
}

@media all and (max-width: 550px) {
    .top-block {
        height: auto;
        
        &__about {
            margin-top: 50px;
            margin-bottom: 125px;
            h1 {
                font-size: 45px;
            }
        }
        &__advantages {
            
            width:100%;
            height: auto;
            background-color: #fff;
            padding: 30px 0;
            margin: 0;

            .container {
                display: block;
            }
            p {
                color:#454444;
            }
        }
    } 

    .advantages-item {
        width: 100%;
        margin-bottom: 50px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }

}

