.form-wrap {
    display: flex;
    margin-bottom: 30px;
    
    .form-control {
        margin-right: 10px;
    }
}

.goods-row {
    margin-bottom: 30px;
}

.goods-item {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.20);
    padding: 0 22px;
    
    &__image {
        overflow:hidden;
        margin-bottom: 17px;
        margin-left: -22px;
        margin-right: -22px;
        img {
            display: block;
            width: 100%;
        }    
    }
    
    &__desc {
        left: 0;
        right:0;
        margin: 0 auto 15px auto;
    }
    
    h3 {
        font-size: 15px;
        color: #454444;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }
    
    small {
        display: block;
        font-size: 13px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    p { 
        align-self: center;
        text-align: justify;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    
    &__link {
        color: #a1bc10;
        font-style: italic;
        text-align: left;
        
        &:hover {
            color: #a1bc10;
        }
    }
    
    &__price-block {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: auto;
        
        &:after {
            position: absolute;
            content: url(../images/basket2.png);
            width: 5%;
            height: 5%;
            left: 45%;
            top: 5px;
        }
    }
    
    &__price {
        
        display: flex;
        align-items: center;
        width: 85px;
        height: 35px;
        font-size: 16px;
        font-weight: 600;
        color: #a1bc10;
        border: 2px solid #a1bc10;
        border-radius: 20px;
        margin-right: 48px;
        padding-left: 15px;
        
        span {
            position: relative;
        }
        
        span:after {
            position: absolute;
            content: url(../images/ruble-green.png);
            width: 11px;
            height: 11px;
            right: -15px;
        }
    }
    
    .goods-sel {
        margin:0;
    }
    
}


@media all and (max-width: 768px) {
    .goods-item {
        width: auto;
        height: auto;
        
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 15px;
        box-shadow: 0 5px 10px 0px rgba(0,0,0,.2);

        &__desc {
            margin-bottom: 15px;
        }    
    }
}